# Environment
NODE_ENV=development

# Nuxt Frontend
NUXT_PUBLIC_FRONTEND_DOMAIN=http://localhost:3000

# Stripe (Payments)
# Get your keys from: https://dashboard.stripe.com/apikeys
NUXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_...
STRIPE_SECRET_KEY=sk_test_...

# Default Admin
NUXT_ADMIN_EMAIL=
NUXT_ADMIN_PASSWORD=
NUXT_ADMIN_NAME=