RewriteEngine On

# Always redirect to HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Force non-www domain
RewriteCond %{HTTP_HOST} ^www\.djason-chery\.dev [NC]
RewriteRule ^(.*)$ https://djason-chery.dev/$1 [L,R=301]

# Fallback to 200.html for all routes that do not match an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ /200.html [L]